{{> userHeader}}

  <div class="banner">
    <div class="full-container">
      <div class="slider-content">
        <ul id="pager2" class="container"></ul>
        <!-- prev/next links -->

        <span class="prevControl sliderControl">
          <i class="fa fa-angle-left fa-3x"></i></span>
        <span class="nextControl sliderControl">
          <i class="fa fa-angle-right fa-3x"></i></span>

        <div class="slider slider-v1" data-cycle-swipe="true" data-cycle-prev=".prevControl"
          data-cycle-next=".nextControl" data-cycle-loader="wait">
          {{#each bannerData}}
          <div class="slider-item slider-item-img1">
            <img src="/images/productImages/{{this.image}}" class="img-responsive parallaximg sliderImg" alt="img" />
          </div>
          {{/each}}
          <!--/.slider-item-->

        </div>
        <!--/.slider slider-v1-->
      </div>
      <!--/.slider-content-->
    </div>
    <!--/.full-container-->
  </div>
  <!--/.banner style1-->

  <hr />

  <div class="container">
    <div class="featuredImageLook3 row featuredPostContainer">
      <h3 class="section-title style2 text-center">
        <span>OUR CATEGORIES</span>
      </h3>
      {{#each categoryData}}
      <div class="col-md-3 col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell">
                <div class="box-text-cell-inner dark">
                  <h1 class="uppercase">{{this.categoryDescription}}</h1>
                  <hr class="submini" />
                  <a href="/shop" class="btn btn-inverse">SHOP NOW</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          <div class="img-title">{{this.categoryName}}</div>
          <a class="img-block" href="/shop">
            <svg width="500" height="250">
              <rect style="fill:#000000" width="500" height="250" x="0" y="0" />
            </svg>
        </div>
      </div>
      {{/each}}
    </div>
    <!--/.featuredImageLook3-->
  </div>
  <!--/.featuredPostContainer-->

  <div class="container main-container">
    <!-- Main component call to action -->

    <div class="row featuredPostContainer globalPadding style2">
      <h3 class="section-title style2 text-center">
        <span>OUR PRODUCTS</span>
      </h3>

      <div id="productslider" class="owl-carousel owl-theme">
        {{#each productData}}
        <div class="item">
          <div class="product">
            <div class="image">
              <a href="/productDetails/{{this._id}}"><img src="images/productImages/{{this.productImage1}}" alt="img"
                  class="img-responsive" /></a>
              {{#if this.productOfferId}}
              <div class="promotion">
                <span class="discount">{{this.productOfferPercentage}}% OFF</span>
              </div>
              {{/if}}
               {{#if (equal this.productStock 0)}}
              <div class="promotion">
                <span class="discount">OUT OF STOCK!</span>
              </div>
              {{/if}}
            </div>
            <div class="description">
              <h4>
                <a href="/productDetails/{{this._id}}">{{this.productName}}</a>
              </h4>
            </div>
            <div class="price"><span>₹{{this.productPrice}}</span></div>

            {{!-- <div class="action-control">
              <a onclick="addToCart()" class="btn btn-primary">
                <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i>
                  Add to cart
                </span>
              </a>
            </div> --}}
          </div>
        </div>
        {{/each}}
      </div>
      <!--/.productslider-->
    </div>
    <!--/.featuredPostContainer-->
  </div>

  <div class="parallax-section parallax-image-2">
    <div class="w100 parallax-section-overley">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="parallax-content clearfix">
              <h1 class="xlarge">Trusted Seller with 500+ satisfied customers</h1>
              <h5 class="parallaxSubtitle">
               
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.parallax-section-->

  <!-- Product Details Modal  -->
  <!-- Modal -->
  <div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
    aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"></div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- End Modal -->

{{> userFooter}}
