<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from templatecycle.com/tshop/v6/gray/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 06:55:47 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.html">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>TSHOP - Bootstrap E-Commerce Parallax Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">


    <!-- styles needed by footable  -->
    <link href="assets/css/footable-0.1.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css" />


    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->


    <script>
        paceOptions = {
            elements: true
        };
    </script>

    <script src="assets/js/pace.min.js"></script>
    <!-- add theme styles for this template -->
    <link id="pagestyle" rel="stylesheet" type="text/css" href="assets/css/skin-1.css">
    <link rel="stylesheet" type="text/css" href="assets/css/gray-look.css">

</head>

<body>


    <script type="text/javascript">
        function swapStyleSheet(sheet) {
            document.getElementById('pagestyle').setAttribute('href', sheet);
        }
    </script>
    <style>
        .themeControll {
            background: #2d3e50;
            height: auto;
            width: 100px;
            position: fixed;
            left: 0;
            padding: 20px;
            top: 20%;
            z-index: 999999;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            -ms-filter: none;
            filter: none;
            -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
            -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
            -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
            -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
            transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
        }

        .themeControll.active {
            display: block;
            -webkit-transform: translateX(-100px);
            -moz-transform: translateX(-100px);
            -o-transform: translateX(-100px);
            -ms-transform: translateX(-1020px);
            transform: translateX(-100px);
            -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
            -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
            -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
            -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
            transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);

        }

        .themeControll a {
            border-radius: 3px;
            clear: both;
            display: block;
            height: 25px;
            margin-bottom: 4px;
            width: 50px;
        }

        .tbtn {
            background: #2D3E50;
            color: #FFFFFF !important;
            font-size: 30px;
            height: auto;
            padding: 10px;
            position: absolute;
            right: -40px;
            top: 0;
            width: 40px;
            cursor: pointer;
        }

        @media (max-width: 780px) {
            .themeControll {
                display: none;
            }
        }
    </style>

    <div class="themeControll">
        <h3 style="width: 60px; font-size: 10px; line-height: 12px;" class="uppercase color-white text-center"> Choose
            your colour </h3>
        <a onclick="swapStyleSheet('assets/css/skin-1.css')" style="background:#4ec67f;border-top: 12px solid #27AE60;">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-8.css')" style="background:#3BCA95;border-top: 12px solid #34BC8A">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-2.css')" style="background:#1ABC9C;border-top: 12px solid #16A085">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-3.css')" style="background:#3498DB;border-top: 12px solid #2980B9">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-4.css')" style="background:#9B59B6;border-top: 12px solid #9149AF">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-5.css')" style="background:#E74C3C;border-top: 12px solid #C0392B">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-7.css')" style="background:#95A5A6;border-top: 12px solid #7F8C8D">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-9.css')" style="background:#F7B529;border-top: 12px solid #E78E00">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-10.css')" style="background:#F17370;border-top: 12px solid #F26663">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-11.css')" style="background:#273646;border-top: 12px solid #2ECC71">
        </a>
        <a onclick="swapStyleSheet('assets/css/skin-6.css')" style="background:#34495E;border-top: 12px solid #283949">
        </a>
        <h3 style="width: 60px; font-size: 10px; line-height: 12px;" class="uppercase color-white text-center">
            <br>
            <a style="color:#fff" href="https://templatecycle.com/tshop/v6/index.html"><i
                    class="fa fa-angle-double-left"></i> Theme Chooser </a>
        </h3>
        <p class="tbtn"> <i class="fa fa-angle-double-left"></i></p>
    </div>


    <!-- Fixed navbar start -->
  <div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" style="visibility: hidden">
            <div class="pull-left">
              <ul class="userMenu">
                <li>
                  <a href="#">
                    <span class="hidden-xs">HELP</span><i class="glyphicon glyphicon-info-sign hide visible-xs"></i>
                  </a>
                </li>
                <li class="phone-number">
                  <a href="callto:+12025550151">
                    <span>
                      <i class="glyphicon glyphicon-phone-alt"></i></span>
                    <span class="hidden-xs" style="margin-left: 5px">
                      +1-202-555-0151
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{#if currentUser}}
          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
            <div class="pull-right">
              <ul class="userMenu">
                <li><a href="/account"><span class="hidden-xs"> My Account</span> <i
                      class="glyphicon glyphicon-user hide visible-xs "></i></a></li>


                <li class="dropdown hasUserMenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false"> <i class="glyphicon glyphicon-log-in hide visible-xs "></i> Hi,
                    {{currentUser.username}} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/account"> <i class="fa fa-user"></i> Account</a></li>
                    {{!-- <li><a href="account.html"><i class="fa fa fa-cog"></i> Profile</a></li> --}}
                    <li><a href="/account/myAddress"><i class="fa fa-map-marker"></i> Addresses</a></li>
                    <li><a href="/account/orderList"><i class="fa  fa-calendar"></i> Orders</a></li>
                    {{!-- <li><a href="wishlist.html" title="My wishlists"> --}}
                        {{!-- <i class="fa fa-heart"></i>
                        My wishlists
                      </a></li> --}}
                    <li class="divider"></li>
                    <li>
                      <form action="/logout" method="POST"><i class="fa  fa-sign-out"></i><button type="submit">Log
                          Out</button></form>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
          {{else}}
          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
            <div class="pull-right">
              <ul class="userMenu">
                <li>
                  <a href="/signupLoginPage">
                    <span class="hidden-xs">Sign In</span>
                    <i class="glyphicon glyphicon-log-in hide visible-xs"></i>
                  </a>
                </li>
                <li class="hidden-xs">
                  <a href="/signupLoginPage" data-toggle="modal">
                    Create Account
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only"> Toggle navigation </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        {{#if currentUser}}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart">
          <i class="fa fa-shopping-cart colorWhite"> </i>
           <span class="cartRespons colorWhite"> Cart </span>
        </button>
        {{/if}}
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="LF-Kart" style="width: 115px; height: 50px" />
        </a>

        <!-- this part for mobile -->
        {{!-- <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
          <div class="input-group">
            <button class="btn btn-nobg getFullSearch" type="button">
              <i class="fa fa-search"> </i>
            </button>
          </div>
          <!-- /input-group -->
        </div>  --}}
      </div>

      <!-- this part is duplicate from cartMenu  keep it for mobile -->
      {{#if cartData}}
      {{#if (equal (arrayLength cartData) 0 )}}
      {{else}}
      <div class="navbar-cart collapse">
        <div class="cartMenu col-lg-4 col-xs-12 col-md-4">
          <div class="w100 miniCartTable scroll-pane">
            <table>
              <tbody>
                {{#each cartData}}
                <tr class="miniCartProduct">
                  <td style="width: 30%" class="miniCartProductThumb">
                    <div>
                      <a href="/product-details.html">
                        <img src="images/productImages/{{this.productId.productImage1}}" alt="img" />
                      </a>
                    </div>
                  </td>
                  <td style="width: 40%">
                    <div class="miniCartDescription">
                      <h4>
                        <a href="product-details.html">{{this.productId.productName}}</a>
                      </h4>
                      <div class="price"><span> ₹{{this.productId.productPrice}} </span></div>
                    </div>
                  </td>
                  <td style="width: 15%" class="miniCartQuantity">
                    <a> X {{this.productId.productQuantity}} </a>
                  </td>
                  <td style="width: 15%" class="miniCartSubtotal">
                    <span> ₹{{this.productId.totalCostPerProduct}} </span>
                  </td>
                  {{!-- <td style="width: 5%" class="delete"><a> x </a></td> --}}
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!--/.miniCartTable-->

          <div class="miniCartFooter miniCartFooterInMobile text-right">
            {{!-- <h3 class="text-right subtotal">Subtotal: ₹210</h3> --}}
            <a class="btn btn-sm btn-danger" href="cart.html">
              <i class="fa fa-shopping-cart"> </i>
              VIEW CART
            </a>
            <a href="/checkout" class="btn btn-sm btn-primary">
              CHECKOUT
            </a>
          </div>
          <!--/.miniCartFooter-->
        </div>
        <!--/.cartMenu-->
      </div>
      {{/if}}
      {{/if}}
      <!--/.navbar-cart-->

      {{#if cartData}}
      {{#if (equal (arrayLength cartData) 0 )}}
      {{else}}
      <div class="navbar-collapse collapse">
        <!--- will be hidden for mobile version -->
        <div class="nav navbar-nav navbar-right hidden-xs">
          <div class="dropdown cartMenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-shopping-cart"> </i>
              <span class="cartRespons"> Cart</span>
              <b class="caret"> </b>
            </a>

            <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4">
              <div class="w100 miniCartTable scroll-pane">
                <table>
                  <tbody>
                    {{#each cartData}}
                    <tr class="miniCartProduct">
                      <td style="width: 30%" class="miniCartProductThumb">
                        <div>
                          <a href="product-details.html">
                            <img src="images/productImages/{{this.productId.productImage1}}" alt="img" />
                          </a>
                        </div>
                      </td>
                      <td style="width: 40%">
                        <div class="miniCartDescription">
                          <h4>
                            <a href="product-details.html">
                              {{this.productId.productName}}
                            </a>
                          </h4>
                          <div class="price"><span> ₹{{this.productId.productPrice}} </span></div>
                        </div>
                      </td>
                      <td style="width: 15%" class="miniCartQuantity">
                        <a> X {{this.productQuantity}} </a>
                      </td>
                      <td style="width: 15%" class="miniCartSubtotal">
                        <span> ₹{{this.totalCostPerProduct}} </span>
                      </td>
                      {{!-- <td style="width: 5%" class="delete"><a> x </a></td> --}}
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <!--/.miniCartTable-->

              <div class="miniCartFooter text-right">
                {{!-- <h3 class="text-right subtotal">Subtotal: ₹210</h3> --}}
                <a class="btn btn-sm btn-danger" href="/cart">
                  <i class="fa fa-shopping-cart"> </i>
                  VIEW CART
                </a><a class="btn btn-sm btn-primary" href="/checkout"> CHECKOUT </a>
              </div>
              <!--/.miniCartFooter-->
            </div>
            <!--/.dropdown-menu-->
          </div>
          <!--/.cartMenu-->

          {{!-- <div class="search-box">
            <div class="input-group">
              <button class="btn btn-nobg getFullSearch" type="button">
                <i class="fa fa-search"> </i>
              </button>
            </div>
            <!-- /input-group -->
          </div> --}}
          <!--/.search-box -->
        </div>
        <!--/.navbar-nav hidden-xs-->
      </div>
      {{/if}}
      {{/if}}
      <!--/.nav-collapse -->
    </div>
    <!--/.container -->

    {{!-- <div class="search-full text-right">
      <a class="pull-right search-close">
        <i class="fa fa-times-circle"> </i>
      </a>

      <div class="searchInputBox pull-right">
        <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
          class="search-input" />
        <button class="btn-nobg search-btn" type="submit">
          <i class="fa fa-search"> </i>
        </button>
      </div>
    </div> --}}
    <!--/.search-full-->
  </div>
  <!-- /.Fixed navbar  -->


    <div class="container main-container headerOffset">
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">My Account</a></li>
                    <li class="active"> Order List</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Order List </span></h1>

                <div class="row userInfo">
                    <div class="col-lg-12">
                        <h2 class="block-title-2"> Your Order List </h2>
                    </div>

                    <div style="clear:both"></div>
                    {{#if orderData}}
                    <div class="col-xs-12 col-sm-12">
                        <table class="footable">
                            <thead>
                                <tr>
                                    <th data-class="expand" data-sort-initial="true"><span
                                            title="table sorted by this column on load">Order ID</span></th>
                                    <th data-hide="phone,tablet" data-sort-ignore="true">No. of items</th>
                                    <th data-hide="phone,tablet" data-sort-ignore="true">Invoice</th>
                                    <th data-hide="phone,tablet"><strong>Payment Method</strong></th>
                                    <th data-hide="phone,tablet"><strong></strong></th>
                                    <th data-hide="default"> Price</th>
                                    <th data-hide="default" data-type="numeric"> Date</th>
                                    <th data-hide="phone" data-type="numeric"> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderData}}
                                <tr>
                                    <td>#{{this.orderNumber}}</td>
                                    <td>{{this.cartData.length}}
                                        <small>item(s)</small>
                                    </td>
                                    <td><a target="_blank">-</a></td>
                                    <td>{{this.paymentType}}</td>
                                    <td><a href="/account/orderList/orderStatus/{{this._id}}" class="btn btn-primary btn-sm">view status</a></td>
                                    <td>₹{{this.grandTotalCost}}</td>
                                    <td data-value="78025368997">{{this.orderDateFormatted}}</td>
                                    <td data-value="3"><span class="label label-primary">{{this.orderStatus}}</span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{else}}
                    <h1>No orders placed yet!</h1>
                    {{/if}}
                    <div style="clear:both"></div>

                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="index.html"> <i class="fa fa-home"></i> Go to Shop
                                </a>
                            </li>
                            <li class="next pull-left"><a href="account.html"> &larr; Back to My Account</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->

        <div style="clear:both"></div>
    </div>
    <!-- /main-container -->

    <!-- Le javascript
================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery/jquery-2.1.3.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- include footable plugin -->
    <script src="assets/js/footable.js" type="text/javascript"></script>
    <script src="assets/js/footable.sortable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable();
        });
    </script>


    <!-- include  parallax plugin -->
    <script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

    <script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script type="text/javascript" src="assets/plugins/icheck-1.x/icheck.min.js"></script>

    <!-- include grid.js // for equal Div height  -->
    <script src="assets/plugins/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>
    <script src="assets/js/grids.js"></script>

    <!-- include carousel slider plugin  -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- jQuery select2 // custom select   -->
    <script src="../../../../cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <!-- include touchspin.js // touch friendly input spinner component   -->
    <script src="assets/js/bootstrap.touchspin.js"></script>

    <!-- include custom script for site  -->
    <script src="assets/js/script.js"></script>

</body>

<!-- Mirrored from templatecycle.com/tshop/v6/gray/order-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 06:55:53 GMT -->

</html>