<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/extras/cropper.css">
</head>

<body>


    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg bg-info bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand fw-bold" href="/admin"><img src="/images/logo-dark.png" alt="LFKart"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/userManagement">User Management</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link active" aria-current="page" href="/admin/bannerManagement">Banner</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/categoryManagement">Categories</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/productManagement">Products</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/orderManagement">Orders</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link" aria-current="page" href="/admin/couponManagement">Coupons</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link " aria-current="page" href="/admin/salesReport">Sales Report</a>
                        </li>
                    </ul>
                    <form action="logout" method="post" class="d-flex">
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        {{!-- Banner Image --}}
        <div class="container-fluid">
            <p class="h3">Upload LFKart Banner Image</p>
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <img id="previewBannerImg" src="" style="width: auto; height: 500px;">
                        <input name="bannerImage" type="file" class="form-control" onchange="displayImage(event)">
                        <button id="cropBtn" type="button" style="display: none" class="btn btn-info">Crop& Upload</button>
                    </div>
                </div>
            </div>
            {{#each bannerData}}
            <div class="card text-center" id="card{{@index}}">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <img src="/images/productImages/{{this.image}}" alt="">
                    <button class="btn btn-danger" id="deleteBtn{{@index}}">Delete</button>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

            <script>

                deleteBtn{{@index}}.addEventListener('click', async (e) => {
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {

                            fetch('/admin/bannerManagement/delete/{{this._id }}',
                             { method: 'DELETE', "Content-Type": "application/json" } )
                                .then(data => data.json() )
                                .then( data=>{
                                    if(data.success){
                                        
                                        card{{@index}}.style.display='none'

                                        Swal.fire({
                                        title: "Deleted!",
                                        text: "Your file has been deleted.",
                                        icon: "success"
                                        });
                                    }
                            })
                        }
                    });
                })
            </script>

            {{/each}}
        </div>
    </div>

    <allScripts>
        {{!-- display image --}}

        <script src="/extras/cropper.js"></script>

        <script>
            function displayImage(event) {
                const previewBannerImg = document.getElementById('previewBannerImg');
                previewBannerImg.src = URL.createObjectURL(event.target.files[0]);

                var cropper = new Cropper(previewBannerImg, {
                    aspectRatio: 2.26,
                    viewMode: 3,
                    autocrop: false
                });

                cropBtn.style.display = 'block'

                cropBtn.addEventListener('click', async (e) => {
                    e.preventDefault()
                    let croppedImage = cropper.getCroppedCanvas().toDataURL('image/png')

                    var imgUrl = await fetch(croppedImage)
                    var blob = await imgUrl.blob()

                    var formData = new FormData();
                    formData.append('bannerImage', blob, 'image.png');
                    console.log(formData)
                    var response = await fetch('/admin/bannerManagement/upload', { method: 'POST', body: formData })
                    var result = await response.json()
                    if (result.success) {
                        return await Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
            }
        </script>


    </allScripts>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>