{{> adminHeader}}

    <!-- Add Category Modal Button trigger modal -->
    <div class="pt-3">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add new coupon
        </button>
    </div>

    <!--Add Category Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addCouponForm" role="form">
                    <div class="modal-body">

                        <div class="couponCodeInput p-2">
                            <label for="couponCode" class="mb-2">Coupon Code: </label>
                            <div class="input-group">
                                <input id="couponCode" name="couponCode" title="Enter a valid coupon code" type="text"
                                    class="form-control" placeholder="Enter coupon code" required minlength="5"
                                    maxlength="16">
                            </div>
                            <div class="form-text">Add a relevant coupon code eg: NEWYEAR2024, PONGAL2024, VYZ548</div>
                        </div>

                        <div class="discountPercentageInput p-2">
                            <label for="expiryDate" class="mb-2">Discount Percentage: </label>
                            <div class="input-group">
                                <input id="discountPercentage" name="discountPercentage" type="number" min="5" max="90"
                                    class="form-control" placeholder="Enter discount percentage" required>
                            </div>
                            <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="startDate">Coupon Start Date: </label>
                            <div class="input-group">
                                <input id="startDate" name="startDate" id="startDate" type="date" class="form-control"
                                    required>
                            </div>
                            <div class="form-text">Choose a start date for the discount to be considered.</div>
                        </div>

                        <div class="expiryDateInput p-2">
                            <label for="expiryDate">Coupon Expiry Date : </label>
                            <div class="input-group">
                                <input id="expiryDate" name="expiryDate" type="date" class="form-control" required>
                            </div>
                            <div class="form-text">Choose an exipry date for the discount to end.</div>
                        </div>

                        <div class="minimumPurchaseInput p-2">
                            <label for="minimumPurchase">Minimum Purchase: </label>
                            <div class="input-group">
                                <input id="minimumPurchase" name="minimumPurchase" type="text" class="form-control"
                                    placeholder="Enter minimum purchase required" required>
                            </div>
                            <div class="form-text">Minimum amount of purchase to be done to allow the coupon discount.
                            </div>
                        </div>

                        <div class="maximumDiscount p-2">
                            <label for="maximumDiscount">Maximum Discount: </label>
                            <div class="input-group">
                                <input id="maximumDiscount" name="maximumDiscount" type="text" class="form-control"
                                    placeholder="Maximum discount applicable" required>
                            </div>
                            <div class="form-text">Maximum amount of discount to be allowed while using the coupon.
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="addCouponBtn" type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Main Table-->
    <div class="container pt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col" class="border-dark">S No</th>
                    <th scope="col" class="border-dark">Coupon Code</th>
                    <th scope="col" class="border-dark">Discount Percentage</th>
                    <th scope="col" class="border-dark">Start Date</th>
                    <th scope="col" class="border-dark">Expiry Date</th>
                    <th scope="col" class="border-dark">Minimum Purchase</th>
                    <th scope="col" class="border-dark">Maximum Discount</th>
                    <th scope="col" class="border-dark">Current Status</th>
                    <th scope="col" class="border-dark">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each couponData}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.couponCode}}</td>
                    <td>{{this.discountPercentage}}%</td>
                    <td>{{this.startDateFormatted}}</td>
                    <td>{{this.expiryDateFormatted}}</td>
                    <td>₹ {{this.minimumPurchase}}</td>
                    <td>₹ {{this.maximumDiscount}}</td>
                    <td></td>
                    <td><button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#editModal{{@index}}">
                            <i class="fas fa-edit"></i>
                        </button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Edit Product Modal  -->
    {{#each couponData}}

    <div class="modal fade" id="editModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editCouponForm{{@index}}">
                    <div class="modal-body">

                        <div class="couponCodeInput p-2">
                            <label for="couponCodeEdit{{@index}}" class="mb-2">Coupon Code: </label>
                            <div class="input-group">
                                <input id="couponCodeEdit{{@index}}" name="couponCode" type="text" class="form-control"
                                    value="{{this.couponCode}}" required minlength="5" maxlength="16">
                            </div>
                            <div class="form-text">Add a relevant coupon code eg: NEWYEAR2024, PONGAL2024, VYZ548</div>
                        </div>

                        <div class="discountPercentageInput p-2">
                            <label for="discountPercentageEdit{{@index}}" class="mb-2">Discount Percentage: </label>
                            <div class="input-group">
                                <input id="discountPercentageEdit{{@index}}" name="discountPercentage" type="text"
                                    class="form-control" value="{{this.discountPercentage}}" required>
                            </div>
                            <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="startDateEdit{{@index}}">Coupon Start Date:</label>
                            <div class="input-group">
                                <input id="startDateEdit{{@index}}" name="startDate" id="startDate" type="date"
                                    class="form-control" value="{{this.startDateFormatted}}" required>
                            </div>
                            <div class="form-text">Choose a start date for the discount to be considered.</div>
                        </div>

                        <div class="expiryDateInput p-2">
                            <label for="expiryDateEdit{{@index}}">Coupon Expiry Date : </label>
                            <div class="input-group">
                                <input id="expiryDateEdit{{@index}}" name="expiryDate" type="date" class="form-control"
                                    value="{{this.expiryDateFormatted}}" required>
                            </div>
                            <div class="form-text">Choose an exipry date for the discount to end.</div>
                        </div>

                        <div class="minimumPurchaseInput p-2">
                            <label for="minimumPurchaseEdit{{@index}}">Minimum Purchase: </label>
                            <div class="input-group">
                                <input id="minimumPurchaseEdit{{@index}}" name="minimumPurchase" type="text"
                                    class="form-control" placeholder="Enter minimum purchase required"
                                    value="{{this.minimumPurchase}}" required>
                            </div>
                            <div class="form-text">Minimum amount of purchase to be done to allow the coupon discount.
                            </div>
                        </div>

                        <div class="maximumDiscount p-2">
                            <label for="maximumDiscountEdit{{@index}}">Maximum Discount: </label>
                            <div class="input-group">
                                <input id="maximumDiscountEdit{{@index}}" name="maximumDiscount" type="text"
                                    class="form-control" placeholder="Maximum discount applicable"
                                    value="{{this.maximumDiscount}}" required>
                            </div>
                            <div class="form-text">Maximum amount of discount to be allowed while using the coupon.
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Product Script- form validation  -->
    <script>
        $().ready(function () {
            // validate signup form on keyup and submit
            $("#editCouponForm{{@index}}").validate({
                submitHandler: async function (form, event) {
                    event.preventDefault()

                    let formData = {
                        couponCode: form.couponCodeEdit{{@index}}.value,
                        discountPercentage: form.discountPercentageEdit{{@index}}.value,
                        startDate: form.startDateEdit{{@index}}.value,
                        expiryDate: form.expiryDateEdit{{@index}}.value,
                        minimumPurchase: form.minimumPurchaseEdit{{@index}}.value,
                        maximumDiscount: form.maximumDiscountEdit{{@index}}.value
                    }

                    let response = await fetch('/admin/couponManagement/editCoupon/{{this._id}}', {
                        method: 'PUT', headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData) }) 
                    let result=await response.json()

                    if(result.couponEdited){
                        Swal.fire({
                        icon: "success",
                        title: "Your coupon has been updated",
                        showConfirmButton: false,
                        timer: 3500}).then(()=>location.reload() )
                    }else if(result.couponCodeExists){
                        await Swal.fire({
                            icon: "error",
                            title: "Coupon code already exists",
                            text: "Coupon code must be unique"
                        });
                    }
                }
            })
        })
    </script>

    {{/each}}

</body>

{{!-- js libraries --}}
<Libraries>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    {{!-- datatables.net --}}
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</Libraries>

<allScripts>

    <script>
        var today = new Date().toISOString().split('T')[0];
    
        document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('startDate').setAttribute('min', today);
        });

        var startDateInput = document.getElementById('startDate');
        var endDateInput = document.getElementById('endDate');
        var expiryDateInput = document.getElementById('expiryDate');

        startDateInput.addEventListener('change', function () {
        var startDate = startDateInput.value;
        expiryDateInput.setAttribute('min', startDate);
        });

        endDateInput.addEventListener('change', function () {
        var endDate = endDateInput.value;
        expiryDateInput.setAttribute('max', endDate);
        });
    </script>

    <script>
        $().ready(function () {
            // validate signup form on keyup and submit
            $("#addCouponForm").validate();
        });
    </script>

    <style>
        .error {
            color: red;
            background-color: rgb(250, 250, 0);
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


    <script>
        async function addCoupon() {
            try {
                if ($("#addCouponForm").valid()) {

                    let formData = {
                        couponCode: couponCode.value,
                        discountPercentage: discountPercentage.value,
                        startDate: startDate.value,
                        expiryDate: expiryDate.value,
                        minimumPurchase: minimumPurchase.value,
                        maximumDiscount: maximumDiscount.value
                    }

                    let response = await fetch('/admin/couponManagement/addCoupon', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData)
                    });
                    
                    let result = await response.json();

                    if (result.couponAdded) {
                        Swal.fire({
                            icon: "success",
                            title: "Your new coupon has been added",
                            showConfirmButton: false,
                            timer: 3500
                        }).then(() => location.reload())
                    } else if (result.couponCodeExists) {
                        Swal.fire({
                            icon: "error",
                            title: "Coupon code already exists",
                            text: "Failed to add"
                        });
                    }
                }
            } catch (error) {
                console.log(error);
            }
        }

        addCouponForm.addEventListener('submit', function (e) {
            e.preventDefault()
            addCoupon()
        })
    </script>

</allScripts>

</html>