{{> adminHeader}}

    <div class="container p-3">
        <h1><strong>ORDER STATUS</strong></h1>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6">
                    <p><strong>Order Number:</strong> #{{orderData.orderNumber}}</p>
                    <div class="card text-dark bg-info  mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{orderData.orderStatus}}</h5>
                        </div>
                    </div>
                    <span>
                        <p><strong>Status:</strong></p>
                        <h5>{{orderData.orderStatus}}</h5>
                    </span>
                    <p><strong>Order Date:</strong> {{orderData.orderDate}}</p>
                </div>
                <div class="col-6 ">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Address</div>
                        <div class="card-body">
                            <h5 class="card-title">{{orderData.addressChosen.addressTitle}}</h5>
                            <p class="card-text">{{orderData.addressChosen.addressLine1}} <br />
                                {{orderData.addressChosen.addressLine2}} <br /> Phone:
                                {{orderData.addressChosen.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Payment</div>
                    <div class="card-body">
                        <h5 class="card-title">₹{{orderData.grandTotalCost}}</h5>
                        <p class="card-text">{{orderData.paymentType}}</p>
                    </div>
                </div>
            </div>
            <h5>Product details:</h5>
            <div class="row p-3">
                <table id="orderStatus" class="table">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each orderData.cartData}}
                        <tr>
                            <td>
                                <div><a href=""><img style="height: 100px; width: 100px;"
                                            src="/images/productImages/{{this.productId.productImage1}}" alt=""></a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <h4>{{this.productId.productName}}</h4>
                                    <div><span>₹{{this.productId.productPrice}}</span></div>
                                </div>
                            </td>
                            <td> X &nbsp; {{this.productQuantity}}</td>
                            <td> <span>
                                    <h4>₹{{this.totalCostPerProduct}} </h4>
                                </span></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




<allScripts>

    <script>
        $(document).ready(function () {
            $(' orderStatus').DataTable();
        });
    </script>

</allScripts>

{{> adminFooter}}