{{> adminHeader}}

    <!-- Add Product Offer Button (Triggers modal) -->
    <div class="pt-3">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addProductOfferModal">
            Add New Product Offer
        </button>
    </div>

    <!-- Add Category Offer Button (Triggers modal) -->
    <div class="pt-3">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addCategoryOfferModal">
            Add Category Offer
        </button>
    </div>

    <!--Add Product Offer Modal -->
    <div class="modal fade" id="addProductOfferModal" tabindex="-1" aria-labelledby="addProductOfferModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductOfferModalLabel">Add New Product Offer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addProductOfferForm" role="form">
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="container">
                                <label for="productName" class="mb-2">Product Name: </label>
                                <select name="productName" id="productName" class="form-select"
                                    aria-label="Default select example">
                                    {{#each productData}}
                                    <option>
                                        <div>{{this.productName}}</div>
                                        <div><img src="/images/about/1.jpg" alt="ddd"></div>
                                    </option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>

                        <div class="offerPercentageInput p-2">
                            <label for="productOfferPercentage" class="mb-2">Product Offer Percentage: </label>
                            <div class="input-group">
                                <input id="productOfferPercentage" name="productOfferPercentage" class="form-control"
                                    placeholder="Enter the offer percentage">
                            </div>
                            <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="startDate">Offer Start Date: </label>
                            <div class="input-group">
                                <input id="startDate" name="startDate" type="date" class="form-control">
                            </div>
                            <div class="form-text">Choose a start date for the offer to be considered.</div>
                        </div>

                        <div class="endDateInput p-2">
                            <label for="endDate">Offer Expiry Date : </label>
                            <div class="input-group">
                                <input id="endDate" name="endDate" type="date" class="form-control">
                            </div>
                            <div class="form-text">Choose an exipry date for offer to end.</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="addCouponBtn" type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Category Offer Modal -->
    <div class="modal fade" id="addCategoryOfferModal" tabindex="-1" aria-labelledby="addCategoryOfferModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryOfferModalLabel">Add Category Offer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addCategoryOfferForm" role="form">
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="container">
                                <label for="categoryName" class="mb-2">Category Name: </label>
                                <select name="categoryName" id="categoryName" class="form-select">
                                    {{#each categoryData}}
                                    <option value="{{this.categoryName}}">{{this.categoryName}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>

                        <div class="offerPercentageInput p-2">
                            <label for="categoryOfferPercentage" class="mb-2">Category Offer Percentage: </label>
                            <div class="input-group">
                                <input id="categoryOfferPercentage" name="categoryOfferPercentage" class="form-control"
                                    placeholder="Enter the offer percentage">
                            </div>
                            <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="categoryOfferStartDate">Offer Start Date: </label>
                            <div class="input-group">
                                <input id="categoryOfferStartDate" name="categoryOfferStartDate" type="date" class="form-control">
                            </div>
                            <div class="form-text">Choose a start date for the offer to be considered.</div>
                        </div>

                        <div class="endDateInput p-2">
                            <label for="categoryOfferEndDate">Offer Expiry Date : </label>
                            <div class="input-group">
                                <input id="categoryOfferEndDate" name="categoryOfferEndDate" type="date" class="form-control">
                            </div>
                            <div class="form-text">Choose an exipry date for offer to end.</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="addCouponBtn" type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Main Table-->
    <div class="container pt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <td>S No</td>
                    <td>Product Name</td>
                    <td>Offer Percentage</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Current Status</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {{#each productOfferData}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.productName}}</td>
                    <td>{{this.productOfferPercentage}}%</td>
                    <td>{{this.startDateFormatted}}</td>
                    <td>{{this.endDateFormatted}}</td>
                    {{#if this.currentStatus}}
                    <td><button class="btn btn-success">Active</button></td>
                    {{else}}
                    <td><button class="btn btn-danger">Inactive</button></td>
                    {{/if}}
                    <td>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#editModal{{@index}}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Edit Product Offer Modal  -->
    {{#each productOfferData}}
    <div class="modal fade" id="editModal{{@index}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Edit Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editProductOfferForm{{@index}}" role="form">
                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <label class="container">
                                <label for="productName" class="mb-2">Product Name:</label>
                                <select name="productName" id="productName{{@index}}" class="form-select"
                                    aria-label="Default select example" disabled>
                                    {{!-- iterating all the names of the products available in LFKart  --}}
                                    {{#each ../productData}}

                                    {{!-- to have the default option in the option tag --}}
                                    {{#if (equal this.productName ../this.productName) }}
                                    <option selected>
                                        <div>{{this.productName}}</div>
                                    </option>
                                    {{else}}
                                    <option>
                                        <div>{{this.productName}}</div>
                                    </option>
                                    {{/if}}
                                    {{/each}}
                                </select>
                            </label>
                        </div>

                        <div class="offerPercentageInput p-2">
                            <label for="productOfferPercentage" class="mb-2">Product Offer Percentage: </label>
                            <div class="input-group">
                                <input id="productOfferPercentage{{@index}}" name="productOfferPercentage"
                                    class="form-control" placeholder="Enter the offer percentage"
                                    value="{{this.productOfferPercentage}}">
                            </div>
                            <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="startDate">Offer Start Date: </label>
                            <div class="input-group">
                                <input id="startDate{{@index}}" name="startDate" type="date" class="form-control"
                                    value="{{this.startDateFormatted}}">
                            </div>
                            <div class="form-text">Choose a start date for the offer to be considered.</div>
                        </div>

                        <div class="endDateInput p-2">
                            <label for="endDate">Offer Expiry Date : </label>
                            <div class="input-group">
                                <input id="endDate{{@index}}" name="endDate" type="date" class="form-control"
                                    value="{{this.endDateFormatted}}">
                            </div>
                            <div class="form-text">Choose an exipry date for offer to end.</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="editOfferBtn" type="submit" class="btn btn-info">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Product Script- form validation  -->
    <script>
        var today = new Date().toISOString().split('T')[0];

        document.addEventListener('DOMContentLoaded', function () {
            let startDateElement = document.getElementById('startDate{{@index}}');
            let endDateElement = document.getElementById('endDate{{@index}}');
            startDateElement.setAttribute('min', today);
            endDateElement.setAttribute('min', today);

           startDateElement.addEventListener('change', function () {
                let startDateValue = startDateElement.value;
                endDateElement.setAttribute('min', startDateValue);
            });

            endDateElement.addEventListener('change', function () {
                let endDateValue = endDateElement.value;
                startDateElement.setAttribute('max', endDateValue);
            });
        });
    </script>


    <script>
        $().ready(function () {
            // validate signup form on keyup and submit
            $("#editProductOfferForm{{@index}}").validate({
                rules: {
                    productName: "required",
                    productOfferPercentage: {
                        required: true,
                        min: 5,
                        max: 90
                    },
                    startDate: "required",
                    endDate: "required"
                },

                submitHandler: async function (form, event) {
                    event.preventDefault()

                    let formData = {
                        productName: form.productName{{@index}}.value,
                        productOfferPercentage: form.productOfferPercentage{{@index}}.value,
                        startDate: form.startDate{{@index}}.value,
                        endDate: form.endDate{{@index}}.value
                    }

                    let response = await fetch('/admin/productOfferManagement/editOffer/{{this._id}}', {
                        method: 'PUT', headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData)
                    })

                    let result = await response.json()

                    if (result.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Your Product Offer has been updated",
                            showConfirmButton: false,
                            timer: 3500
                        }).then(() => location.reload())
                    } else {
                        await Swal.fire({
                            icon: "error",
                            title: "Failed to update the product offer",
                            text: "Please try again"
                        });
                    }
                }
            })
        }) 
    </script>
    {{/each}}


<allScripts>

    <script>
        var today = new Date().toISOString().split('T')[0];

        document.addEventListener('DOMContentLoaded', function () {
            var startDateInput = document.getElementById('startDate');
            var endDateInput = document.getElementById('endDate');

            startDateInput.setAttribute('min', today);
            endDateInput.setAttribute('min', today);

            startDateInput.addEventListener('change', function () {
                var startDate = startDateInput.value;
                endDateInput.setAttribute('min', startDate);
            });

            endDateInput.addEventListener('change', function () {
                var endDate = endDateInput.value;
                startDateInput.setAttribute('max', endDate);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#addProductOfferForm").validate({
                rules: {
                    productName: "required",
                    productOfferPercentage: {
                        required: true,
                        min: 5,
                        max: 90
                    },
                    startDate: {
                        required: true,
                    },
                    endDate: {
                        required: true,
                    }
                },
                submitHandler: async function (form, event) {
                    event.preventDefault()

                    let formData = {
                        productName: form.productName.value,
                        productOfferPercentage: form.productOfferPercentage.value,
                        startDate: form.startDate.value,
                        endDate: form.endDate.value
                    }

                    let response = await fetch('/admin/productOfferManagement/addOffer', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData)
                    })

                    let result = await response.json()

                    if (result.success) {
                        Swal.fire({
                            icon: "success",
                            title: "New product offer succesfully added",
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => location.reload())
                    } else {
                        await Swal.fire({
                            icon: "error",
                            title: "Product Offer Already Exists for This Product",
                            text: "Please try editing the offer of this particular product",
                        });
                    }
                }
            });
        });
    </script>

    <script>
        
        $(document).ready(function () {
            $("#addCategoryOfferForm").validate({
                rules: {
                    categoryName: "required",
                    categoryOfferPercentage: {
                        required: true,
                        min: 5,
                        max: 90
                    },
                    categoryOfferStartDate: {
                        required: true,
                    },
                    categoryOfferEndDate: {
                        required: true,
                    }
                },
                submitHandler: async function (form, event) {
                    event.preventDefault()

                    /*let productsUnderSelectedCategory =  {{productData}}.filter( v=> (v.parentCategory == form.categoryName.value)  )*/

                    let formData = {
                        categoryName : form.categoryName.value,
                        productOfferPercentage: form.productOfferPercentage.value,
                        startDate: form.startDate.value,
                        endDate: form.endDate.value
                    }

                    let response = await fetch('/admin/productOfferManagement/categoryOffer', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData) 
                    })

                    let result = await response.json()

                    if (result.success) {
                        await Swal.fire({
                            icon: "success",
                            title: "Category offer succesfully added",
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => location.reload())
                    } else {
                        await Swal.fire({
                            icon: "error",
                            title: "Product Offer Already Exists for This Product",
                            text: "Please try editing the offer of this particular product",
                        });
                    }
                } 
            });
        });
    </script>

    <style>
        .error {
            color: red;
            background-color: rgb(250, 250, 0);
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>




</allScripts>

{{> adminFooter}}