{{> adminHeader}}

<div class="container p-3">
    <div class="row">
        <div class="col-2">
            <a href="/admin/salesReport/download/xlsx" class="btn btn-info">Download(xlsx)</a>
        </div>
        <div class="col-2">
            <div class="btn btn-info" id="downloadPDF">Download (PDF)</div>
        </div>
        {{#if dateValues}}
        <div class="col-2">
            <label for="startDate">From: </label>
            <input id="startDate" type="date" value="{{dateValues.startDate}}">
        </div>
        <div class="col-2">
            <label for="startDate">To: </label>
            <input id="endDate" type="date" value="{{dateValues.endDate}}">
        </div>
        {{else}}
        <div class="col-2">
            <label for="startDate">From: </label>
            <input id="startDate" type="date">
        </div>
        <div class="col-2">
            <label for="startDate">To: </label>
            <input id="endDate" type="date">
        </div>
        {{/if}}
        <div class="col-2">
            <button id="filterBtn" class="btn btn-info p-1">Filter</button>
        </div>
    </div>
</div>

<div class="container pt-3">
    <table id="salesReportTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col" class="border-dark">Order id</th>
                <th scope="col" class="border-dark">Username</th>
                <th scope="col" class="border-dark">Date</th>
                <th scope="col" class="border-dark">Products</th>
                <th scope="col" class="border-dark">No of items</th>
                <th scope="col" class="border-dark">TotalCost</th>
                <th scope="col" class="border-dark">Payment Method</th>
                <th scope="col" class="border-dark">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each salesData}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.userId.username}}</td>
                <td>{{this.orderDateFormatted}}</td>
                <td>
                    <ul>
                        {{#each this.cartData}}
                        <li>{{this.productId.productName}}</li>
                        {{/each}}
                    </ul>
                </td>
                <td>
                    <ul>
                        {{#each this.cartData}}
                        <li>{{this.productQuantity}}</li>
                        {{/each}}
                    </ul>
                </td>
                <td>₹{{this.grandTotalCost}}</td>
                <td>{{this.paymentType}}</td>
                <td>{{this.orderStatus}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<allScripts>
    {{!-- Table details --}}
    <script>
        $(document).ready(function () {
            $('#salesReportTable').DataTable();
        });
    </script>


    <script>
        let startDate = document.getElementById('startDate')
        let endDate = document.getElementById('endDate')

        startDate.addEventListener('change', function () {
            let startDateValue = startDate.value;
            endDate.setAttribute('min', startDateValue);
        });

        endDate.addEventListener('change', function () {
            let endDateValue = endDate.value;
            startDate.setAttribute('max', endDateValue);
        });

    </script>


    <script>
        let filterBtn = document.getElementById('filterBtn')
        filterBtn.addEventListener('click', async (e) => {
            e.preventDefault()
            let startDate = document.getElementById('startDate').value
            let endDate = document.getElementById('endDate').value
            let formData = { startDate, endDate }
            console.log(formData)

            let response = await fetch('/admin/salesReport/filter',
                {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(formData)
                })
            let result = await response.json()

            if (result.success) {
                location.reload()
            }
        })
    </script>

    <script>
        let downloadPDF = document.getElementById('downloadPDF')
        downloadPDF.addEventListener('click', () =>  window.print() )
    </script>

</allScripts>

{{> adminFooter}}