{{> adminHeader}}

    <div class="container p-3">
        <a href="/admin/salesReport/download/xlsx" class="btn btn-info">Download(xlsx)</a>
    </div>

    <div class="container pt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col" class="border-dark">Order id</th>
                    <th scope="col" class="border-dark">Username</th>
                    <th scope="col" class="border-dark">Date</th>
                    <th scope="col" class="border-dark">Products</th>
                    <th scope="col" class="border-dark">No of items</th>
                    <th scope="col" class="border-dark">TotalCost</th>
                    <th scope="col" class="border-dark">Payment Method</th>
                    <th scope="col" class="border-dark">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each salesData}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.userId.username}}</td>
                    <td>{{this.orderDateFormatted}}</td>
                    <td>
                        <ul>
                            {{#each this.cartData}}
                            <li>{{this.productId.productName}}</li>
                            {{/each}}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {{#each this.cartData}}
                            <li>{{this.productQuantity}}</li>
                            {{/each}}
                        </ul>

                    </td>
                    <td>₹{{this.grandTotalCost}}</td>
                    <td>{{this.paymentType}}</td>
                    <td>{{this.orderStatus}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


<allScripts>
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    {{!-- datatables.net --}}
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    {{!-- Table details --}}
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

</allScripts>

{{> adminFooter}}