{{> adminHeader}}
    <!-- User Management Table -->
    <div class="container pt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each allUsersData}}
                <tr>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phonenumber}}</td>
                    {{#if this.isBlocked}}
                    <td>
                        <button id="unblockBtn{{@index}}" class="btn btn-danger">Unblock</button>
                    </td>
                    <script>
                        let unblockBtn{{@index}} = document.getElementById('unblockBtn{{@index}}')

                        unblockBtn{{@index}}.addEventListener('click', async () => {

                            Swal.fire({
                                title: "Are you sure?",
                                text: "Do you want to unblock {{this.username}} ?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, unblock!"
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    fetch('/admin/userManagement/unBlock/{{this._id}}', { method: 'PATCH' }).then()

                                    Swal.fire({
                                        title: "Unblocked!",
                                        text: "{{this.username}} has been unblocked.",
                                        icon: "success"
                                    }).then(()=>location.reload())
                                }
                            });
                        })
                    </script>
                    {{else}}
                    <td>
                        <button id="blockBtn{{@index}}" class="btn btn-success">Block</button>
                    </td>
                    <script>
                        let blockBtn{{@index}} = document.getElementById('blockBtn{{@index}}')

                        blockBtn{{@index}}.addEventListener('click', async () => {

                            Swal.fire({
                                title: "Are you sure?",
                                text: "Do you want to block {{this.username}} ?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, block!"
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    fetch('/admin/userManagement/block/{{this._id}}', { method: 'PATCH' }).then()

                                    Swal.fire({
                                        title: "Blocked!",
                                        text: "{{this.username}} has been blocked.",
                                        icon: "success"
                                    }).then(()=>location.reload())
                                }
                            });
                        })
                    </script>

                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>



<allScripts>
    {{!-- Table details --}}
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

</allScripts>

{{> adminFooter}}